/* Start Variables */
* {
  --main-padding: 10px;
  --main-color-green: #10cabf;
  --secondary-color-blue: #2c4755;
  --sec-padding: 60px 0;
  --sec-special-background: #f6f6f6;
}
/*End Variables */
/* Start Global Rules */
:root {
  scroll-behavior: smooth;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: var(--main-padding);
  padding-right: var(--main-padding);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.sec-title{
  text-align: center;
  margin-bottom: 100px;
}
.sec-title h2{
  font-size: 100px;
  font-weight: bold;
  color: #ebeced;
  letter-spacing: -4px;
  margin: 0;
}
.sec-title p {
  color: #797979;
  margin-top: -30px;
  font-size: 20px;
}
@media (max-width: 768px) {
  .sec-title h2 {
    font-size: 85px;
  }
  .sec-title p {
    margin-top: -25px;
  }
}
/* End Global Rules */
/* Start Header */
header {
  padding: 10px 0;
}
header .container {
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  height: 25px;
}
header .icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
header .icon > li {
  width: 30px;
  height: 2px;
  background-color: black;
}
header .icon > li:nth-child(2) {
  width: 15px;
  margin: 5px 0;
  transition-duration: 0.5s;
}
header .icon:hover > li:nth-child(2) {
  width: 30px;
}
header .minuo {
  background-color: #f6f6f6;
  width: 200px;
  position: absolute;
  top: 35px;
  display: none;
}
header .minuo::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent #eeeeee8d;
  position: absolute;
  top: -20px;
  right: 5px;
}
header .icon:hover .minuo {
  display: block;
}
header .minuo li {
  transition-duration: 0.5s;
}
header .minuo li:hover {
  padding-left: calc(var(--main-padding) + 15px);
}
header .minuo li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
header .minuo li a {
  display: inline-block;
  width: 100%;
  padding: calc(var(--main-padding) + 5px);
  text-decoration: none;
  color: #333;
}
/* End Header */
/* Start Home Page */
.home {
  background-image: url("../imgs/home_page.jpg");
  background-size: cover;
  height: calc(100vh - 60px);
  display: grid;
  place-content: center;
  text-align: center;
}
.home h1 {
  color: var(--main-color-green);
  font-size: 50px;
}
.home p {
  margin-top: -10px;
  font-size: 20px;
line-height: 1.6;
}
/* End Home Page */
/* Start Actions */
.action {
  background-color: var(--sec-special-background);
  padding: var(--sec-padding);
}
.action .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 70px;
  /* gap: 50px; */
}
.action .case {
  /* margin-top: 50px; */
  text-align: center;
  width: 300px;
  /* border: 1px solid red; */
  /* padding: 0 40px; */
}
@media (max-width: 992px) {
  .action .case {
    width: 350px;
  }
}
@media (max-width: 768px) {
  .action .case {
    width: 100%;
    padding: 0 40px;
  }
}
.action .case i {
  color: var(--main-color-green);
  font-size: 50px;
  
}
.action .case h3 {
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: bold;
  /* font-size: 20px; */
}
.action .case p  {
  /* font-size: 15px; */
  line-height: 1.8;
  color: #6f6f6f;
}
/* End Actions */
/* Start Service */
.services {
  padding: var(--sec-padding);
}
.services .content {
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.services .content .col:first-child {
  grid-column: 1 /span 2;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  column-gap: 20px;
}
@media (max-width: 768px) {
  .services .content {
    gap: 0;
  }
  .services .content .col:first-child {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
.services .content .srv {
  display: flex;
  /* gap: 15px; */
  margin-bottom: 30px;
  
}
@media (max-width: 768px) {
  .services .content .srv{
    flex-direction: column;
    text-align: center;
  }
}
.services .content .srv i {
  font-size: 35px;
  color: var(--main-color-green);
  font-weight: 800;
  flex-basis: 60px;
}
.services .content .srv .text {
  flex: 1;
}
.services .content .srv h3{
  margin-top: 0;
}
.services .content .srv p{
  color: #444;
  line-height: 1.6;
  font-weight: 300;
}
@media (max-width: 1200px) {
  .services .content .col:last-child{
    display: none;
  }
}
.services .content .img {
  text-align: center;
  position: relative;
}
.services .content .img::after {
  content: "";
  width: 90px;
  height: calc(100% + 90px);
  background-color: var(--secondary-color-blue);
  position: absolute;
  transform: translate(-50%, -45px);
  z-index: -1;
}
.services .content .img img {
  width: 260px;
}
/* End Service */
/* Start Portofolio */
.Portofolio {
  background-color: var(--sec-special-background);
  padding: var(--sec-padding);
}
.Portofolio .projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;

}
.Portofolio .projects .card {
  background-color: #fff;
  
}
.Portofolio .projects .card img {
  width: 100%;
}
.Portofolio .projects .card .text { 
  padding: 20px;
}
.Portofolio .projects .card .text h3 {
  margin: 0;
}
.Portofolio .projects .card .text p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
/* End Portofolio */
/* Start About */
.about {
  padding: var(--sec-padding);
  padding-bottom: 100px;

}
.about .content {
  display: flex;
  gap: 250px;

}
@media (max-width: 991px) {
  .about .content {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    text-align: center;
  }
}
.about .content .img {
  width: fit-content;
  position: relative;
}

.about .content .img img {
  width: 250px;
}
.about .content .text {
  flex: 1;
  
}
.about .content .text p {
  line-height: 1.8;
  font-size: 16.5px;
}
.about .content .text p:first-child {
  font-weight: bold;
  margin-bottom: 50px;
}
.about .content .text p:last-child {
  color: #777;
  margin-top: 30px;
}
.about .content .text hr {
  width: 50%;
  background-color:var(--main-color-green);
  border: 1px solid var(--main-color-green);
  border-color: #09766b var(--main-color-green) var(--main-color-green) #09766b;
  /* border: none; */
}
@media (min-width: 992px) {
  .about .content .img::before {
    content: "";
    width: 90px;
    height: calc(100% + 70px);
    background-color: #ebeced;
    position: absolute;
    top: -35px;
    left: -20px;
    z-index: -1;
  }
  .about .content .img::after {
    content: "";
    width: 110px;
    height: calc(100% - 80px);
    display: inline-block;
    /* background-color: var(--main-color-green); */
    border-left: 80px solid var(--main-color-green);
    border-bottom: 80px solid var(--main-color-green);
    position: absolute;
    top: -45px;
    right: -140px;
    z-index: -1;
  }
  .about .content .text hr {
    margin-left: 0;
  }
}
/* End About */
/* Start Contact */
.contact {
  padding: var(--sec-padding);
  padding-bottom: 100px;
  background-color: var(--sec-special-background);
  text-align: center;
}
.contact .content > p {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color-blue);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .content > a {
  text-decoration: none;
  color: var(--main-color-green);
  font-size: 35px;
  font-weight: bold;
}
.contact .content .media {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 14px; */
  /* margin-top: 20px; */
}
.contact .content .media i {
  color: var(--secondary-color-blue);
  margin-left: 10px;
}
@media (max-width:767px) {
  .contact .content > p,
  .contact .content > a {
    font-size: 30px;
  }

}
/* End Contact */
/* Start Footer */
footer {
  background-color: var(--secondary-color-blue);
  text-align: center;
  color: #fff;
  padding: 30px 0;
  font-size: 18px;
  /* font-weight: bold; */
}
footer span {
  color: var(--main-color-green);
  font-weight: bold;
  text-transform: capitalize;
}
/* End Footer */
